/* Write your CSS here */
.suggestion {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.arrow {
  width: 25px;
  height: 25px;
}

.button {
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}
